

nav{
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.nav__logo{
    font-size: 2rem;
    font-size: 600;
    color: var(--primary-color);
}

.nav__links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a{
    text-decoration: none;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.3s;
}
.link a:hover{
    color: var(--primary-color);
}