

nav{
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.nav__logo {
    display: flex;
    align-items: center;
    h1{
        font-family: var(--font-base);
        font-size: 2rem;
        font-size: 600;
        color: var(--primary-color);
    }
}

.nav__logo img {
    margin-left: 1rem;
    max-width: 3.25rem;
}

.nav__links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a{
    text-decoration: none;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.3s;
}
.link a:hover{
    color: var(--primary-color);
}

@media (width < 900px) {
    .nav__links{
        display: none;
    }

    nav {
        align-items: center;
        justify-content: center;
        padding: 0;

        .btn{
            display: none;
        }
    }


    .nav__logo {
        margin-top: 2rem;
        h1{
            font-family: var(--font-base);
            font-size: 2.5rem;
            font-size: 600;
            color: var(--primary-color);
        }
    }

    .nav__logo img {
/*         max-width: 7rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem; */
        display: none;
    }
}
