.about__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}


.about__content p{
    margin-top: 3rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
    text-align:left;
    color: var(--text-light);
    word-spacing: 0.61rem;
}

.about__content h2{
    margin-bottom: 0.5rem;
    letter-spacing: 0.200rem;
    font-size: 3rem;
    font-weight: 600;
    color: var(--primary-color);
    text-align: center;
}

.about__image img {
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
}

@media (width <900px){

.about__container{
    grid-template-columns: repeat(1,1fr);

}

.about__image{
    grid-area: 1/1/2/2;
}
.about__content p{
    text-align: center;
}

}